body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: blanchedalmond;
}

#header{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap:50px;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}

.header-item{
    width: fit-content;
}

#info{
    padding: 20px;
    text-align: center;
    background-color: bisque;
}


.grid-container{
    display: grid;
    grid-template-areas: 
    'a b c d e' 
    'f g h i j' 
    'k l m n o'
    'p q r s t'
    'u v w x y'
    ;
    grid-gap: 50px;
    padding: 20px;
    justify-content: center;
    width: fit-content;
    align-self: center;;
}

.grid-container img:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}